<!--<div class="container">-->
   <!---->

<!--</div>-->
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <form method="POST">
            <legend>Forgot Password</legend>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" autofocus="autofocus" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>

    </div>

</div>

