<div class="jumbotron text-center" style=" margin-top: 95px;" ng-if="!main.loggedIn">
    <div>
        <h1> If you have recipe sign up!</h1>
    </div>
    <div>
        <p> Login to tell about your recipe</p>
        <a ui-sref="login" class="btn btn-primary">Login</a>
    </div>

</div>