<div class="container" ng-controller="MainCtrl as login" >
       <style type="text/css" >
           body {
               background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
               background-size: cover;
               font-family: Montserrat;
           }

           .logo {
               width: 213px;
               height: 36px;
               background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;
               margin: 30px auto;
           }

           .login-block {
               width: 320px;
               padding: 20px;
               background: #fff;
               border-radius: 5px;
               border-top: 5px solid #ff656c;
               margin: 0 auto;
           }

           .login-block h1 {
               text-align: center;
               color: #000;
               font-size: 18px;
               text-transform: uppercase;
               margin-top: 0;
               margin-bottom: 20px;
           }

           .login-block input {
               width: 100%;
               height: 42px;
               box-sizing: border-box;
               border-radius: 5px;
               border: 1px solid #ccc;
               margin-bottom: 20px;
               font-size: 14px;
               font-family: Montserrat;
               padding: 0 20px 0 50px;
               outline: none;
           }

           .login-block input#username {
               background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
               background-size: 16px 80px;
           }

           .login-block input#username:focus {
               background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
               background-size: 16px 80px;
           }

           .login-block input#password {
               background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
               background-size: 16px 80px;
           }

           .login-block input#password:focus {
               background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
               background-size: 16px 80px;
           }

           .login-block input:active, .login-block input:focus {
               border: 1px solid #ff656c;
           }



           .login-block button:hover {
               background: #ff7b81;
           }

       </style>
    <div class="logo"></div>
    <div class="login-block">
    <!--<div class="row">-->
        <!--<div class="col-sm-6 col-md-4 col-md-offset-4">-->
                     <!--</div>-->
    <!--</div>-->
        <h1>Login</h1>
        <form class="form-sigin" method="post"  ng-submit="login.doLogin()" enctype="multiple/form-data">
            UserName:<input type="text" name="username" class="form-control" ng-model="login.loginData.username" id="username" placeholder="Email or Username">
            Password:<input type="password" name="password" class="form-control" ng-model="login.loginData.password" id="password" placeholder="password">
            <a ui-sref="forgot">Forgot Password?</a>
            <button type="submit" class="btn btn-primary">Login</button><br><br>
        </form>

        <button type="button" class="btn btn-google-plus"  ng-click="login.authenticate('google')"><i class="fa fa-google-plus"></i> | Connect with Google</button><br><br>

        <button type="button" class="btn btn-facebook" ng-click="login.authenticate('facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button><br><br>
        <button type="button" class="btn btn-linkedin" ng-click="login.authenticate('linkedin')"><i class="fa fa-linkedin"></i> | Connect with LinkedIn</button>



    </div>
    </div>