<div class="style2" >
    <!--<input  type="button" ng-click="toggle()" value="Recipes">-->
    <div class="div1"  toggle>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Recipes</a></li>
            <li role="presentation"><a href="#">Main Recipes</a></li>
            <li role="presentation"><a href="#">Photos</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search">

            <div>
                <button type="submit" value="Add Recipe" class="btn btn-primary btn-xs">
                    Add Recipe
                </button>
            </div>
            <div style="padding-top: 15px" class="input-group">

                    <span  class="input-group-btn">
                        <button style=" height: 28px" type="submit" class="btn btn-default">
                            <span  class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                <input style="width: 380px; height: 28px" type="text" class="form-control" placeholder="Search">
            </div>
        </form>

        <div class="row">
            <h3 style="padding-left: 170px;"> Recipe List</h3>
            <div class="col-md-4">

                <div class="col-md-4">
                    <table ng-controller="RecipeCtrl as vm" class="table"  >
                        <thead>
                        <tr>
                            <td></td>
                            <td><h2>Recipe</h2></td>
                            <td><h2>RecipeTag</h2></td>
                            <td><h2>Yield</h2></td>
                            <td><h2>Unit</h2></td>
                            <td><h2>Price</h2></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="recipe in vm.recipies">
                            <td>
                                <img src="images/images.png">
                            </td>
                            <td>{{recipe.recipeName}}</td>
                            <td>{{recipe.recipeTag}}</td>
                            <td>{{recipe.yield}}</td>
                            <td>{{recipe.unit}}</td>
                            <td>{{recipe.price | currency }}</td>

                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>



    </div>
</div>

<div class="style">
    <!--<input id="toggle" type="button" ng-click="toggle()" value="Products">-->
    <div class="div1"  toggle>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Products</a></li>
            <li role="presentation"><a href="#">TBD</a></li>
            <li role="presentation"><a href="#">Supplier</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search">
            <div>
                <button type="submit" value="Add Product" class="btn btn-primary btn-xs">
                    Add Products
                </button>
            </div>
            <div style="padding-top: 15px" class="input-group">

                   <span  class="input-group-btn">
                        <button style=" height: 28px" type="submit" class="btn btn-default">
                            <span  class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                <input style="width: 360px; height: 28px" type="text" class="form-control" placeholder="Search">
            </div>
        </form>

        <div class="row">
            <h4 style="padding-left: 190px;"> Product List</h4>
            <div class="col-md-4">
                <div class="col-md-4">
                    <table ng-controller="ProductCtrl as vm" class="table"  >
                        <thead>
                        <tr>
                            <td></td>
                            <td>Product</td>
                            <td>Brand</td>
                            <td>Price</td>
                            <td>Amount</td>
                            <td>Unit</td>
                            <td>Packaging</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in vm.products">
                            <td>
                                <img src="images/images.png">
                            </td>
                            <td>{{product.productName}}</td>
                            <td>{{product.productBrand}}</td>
                            <td>{{product.price | currency }}</td>
                            <td>{{product.amount}}</td>
                            <td>{{product.unit}}</td>
                            <td>{{product.packaging}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-4"></div>
            </div>



        </div>



    </div>
</div>