<div class="container" ng-controller="UserCreateCtrl as user" >
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1>Signup!</h1>
                <form class="form-sigin" method="post"  ng-submit="user.signupUser()" enctype="multiple/form-data">
                    Name:<input type="text" name="name" class="form-control" ng-model="user.userData.name">
                    UserName:<input type="text" name="username" class="form-control" ng-model="user.userData.username">
                    Email:<input type="email" name="email"  class="form-control" ng-model="user.userData.email">
                    Password:<input type="password" name="password"  class="form-control" ng-model="user.userData.password">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </form>
        </div>
    </div>

</div>