<!DOCTYPE html>
<html ng-app ="cookRecipe" >
<head lang="en">
    <meta charset="utf-8">

    <title>Cook Recipe </title>


    <!-- Stylesheet-->
    <link href="../../stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="../../stylesheets/app.css" rel="stylesheet" />
    <link href="../../stylesheets/font-awesome.css" rel="stylesheet" />



    <!-- Library script -->
    <script type="text/javascript" src="../../javascripts/jquery-1.11.3.min.js"></script>
    
    <script type="text/javascript" src="../../javascripts/angular.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular-route.min.js"></script>-->
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>-->
    <!--<script src="../../js/angular-resource.min.js"></script>-->
    <!--<script src="../../js/angular-mocks.js"></script>-->
    <script type="text/javascript" src="../../javascripts/angular-ui-router.js"></script>
    <!--<script type="text/javascript" src="../../javascripts/angular-route.min.js"></script>-->
    <script type="text/javascript" src="../../javascripts/bootstrap.js"></script>

    <!--[if lte IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/satellizer/0.13.4/satellizer.min.js"></script>

    <!-- ApplicationScript-->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/app.routes.js"></script>

    <!-- services -->
    <script type="text/javascript" src="app/services/authservice.js"></script>
    <script type="text/javascript" src="app/services/userservice.js"></script>
    <script type="text/javascript" src="app/services/recipeService.js"></script>
    <script type="text/javascript" src="app/services/productService.js"></script>
    <!--<script type="text/javascript" src="common/services/common.services.js"></script>-->
    <!--<script type="text/javascript" src="common/services/productResource.js"></script>-->
    <!--<script type="text/javascript" src="common/services/productResourceMock.js"></script>-->




    <!--Controller  Script -->
    <script type="text/javascript" src="app/controllers/productListCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/recipeListCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/mainCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/userCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/productCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/recipeCtrl.js"></script>



<body ng-controller="MainCtrl as main" >

<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container" >
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria- expanded="false" aria-controls="navbar"
                    class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a href="#" class="navbar-brand">VirtualChoppingBoard</br>-->
            <!--Making Chopping and Cooking Easy</a>-->
            <div><a  ui-sref="home" >
                         <h3>Virtual<span style="color: #DCE0DE;">Chopping</span>Board</h3> </a>

                     <h3 style="font-size: 15px;color: #DCE0DE;">Making Chopping and Cooking Easy</h3>

            </div>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!main.isLoggedIn()"><a ui-sref="signup">SignUp</a></li>

                <li ng-if="main.isLoggedIn()"><a ui-sref="profile">Hello,{{main.user.name}}</a></li>
                <!--<li ng-if="main.loggedIn"><a ui-sref="logout" ng-click="main.doLogout()">Log Out</a></li>-->
                <!--<li ng-hide="main.loggedIn"><a ui-sref="signup">SignUp</a></li>-->
                <!--<li ng-show="main.loggedIn"><a ui-sref="profile">Hello,{{main.user.username}}</a></li>-->
                <li ng-if="!main.isLoggedIn()"><a ui-sref="login">Login</a></li>
                <li ng-if="main.isLoggedIn()"><a ui-sref="logout" ng-click="main.doLogout()">Log Out</a></li>

            </ul>
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li>
                <a href="/users/logout">Log Out</a></li>-->
            <!--</ul>-->
        </div>
    </div>
</nav>


<div class="container">
    <div ui-view>

    </div>
</div>

</body>

</html>
