body
{
    background-color:#ffffff;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
}
.bs-example{
    margin: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 180px;
    background-color: #f5f5f5;
}
.style{
    padding-top: 10px;
    border: groove 1px;
    width: 425px;
    margin-top: 120px;
    float: left;

}

.style ul{

    width: 425px;
}

.style2{
    padding-top: 10px;
    float: right;
    border: groove 1px;
    margin-top: 120px;

}
div.style, div.style2 { display: inline; }
div.style { float: left; }
.row{

    padding-top: 90px;
}

