.div2{
    float: left;
    right: -19px;
    border-radius: 0 10px 10px 0;
    background-color: #7fc6bc;
    color: #fff;
    margin: 0px !important;
    cursor: pointer;
    width: 5%;
    word-break: break-all;
    padding: 9px;
    font-weight: bold;
    height: auto;
    text-transform: uppercase;
    text-align: center;
}

#toggle{
    float: left;
    border-radius: 10px 0 0 10px;
    background-color: #7fc6bc;
    color: #fff;
    margin: 0px !important;
    cursor: pointer;
    width: 5%;
    word-break: break-all;
    padding: 9px;
    font-weight: bold;
    height: auto;
    text-transform: uppercase;
    text-align: center;
}
